USE [SchoolManagement]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 8/23/2025 1:10:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Student]') AND type in (N'U'))
DROP TABLE [dbo].[Student]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 8/23/2025 1:10:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](50) NOT NULL,
	[StudentAddress] [nvarchar](500) NULL,
	[StudentCGPA] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentId], [StudentName], [StudentAddress], [StudentCGPA]) VALUES (2, N'Sbbb', N'Dhaka', CAST(3.80 AS Decimal(18, 2)))
INSERT [dbo].[Student] ([StudentId], [StudentName], [StudentAddress], [StudentCGPA]) VALUES (3, N'Sccc', N'Chittagong', CAST(4.00 AS Decimal(18, 2)))
INSERT [dbo].[Student] ([StudentId], [StudentName], [StudentAddress], [StudentCGPA]) VALUES (4, N'Sddd', N'Shylet', CAST(4.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
